@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  position: relative;
}

.container-principal {
  overflow: hidden;
  display: block;
  position: relative;
  max-height: 713px;
}
.container-principal .home-banner {
  width: 100%;
  max-height: 713px;
  min-height: 713px;
  object-fit: cover;
  object-position: bottom;
  height: 100%;
}
.container-principal .banner-mobile {
  display: none;
}

header {
  display: block;
}
header nav {
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: auto;
  padding: 2%;
  top: 0;
  position: absolute;
}
header nav img {
  width: 190px;
  height: 40px;
  margin: 20px;
}
header nav .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: white;
  text-align: center;
  align-items: center;
  font-family: "Barlow", sans-serif;
}
header nav .menu > li {
  margin: 1rem;
  overflow: hidden;
  font-size: 22px;
}
header nav .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  margin: 40px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header nav #menu-toggle {
  display: none;
}
header nav .menu-button,
header nav .menu-button::before,
header nav .menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
header nav .menu-button::before {
  content: "";
  margin-top: -8px;
}
header nav .menu-button::after {
  content: "";
  margin-top: 8px;
}
header nav #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
header nav #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
header nav #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
header nav .btn-contact {
  width: 130px;
  border-radius: 29px;
  border: none;
  padding: 15px;
  font-size: 20px;
  font-family: "Fraunces", serif;
  background-color: #fff;
}
header .creatives {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  width: 100%;
  font-size: 900;
  color: white;
  font-family: "Fraunces", serif;
}
header .creatives .down-arrow {
  margin-top: 20px;
}

.container-yellow {
  display: flex;
  width: 100%;
  max-height: 530px;
}
.container-yellow .container-text-yellow {
  width: 50%;
  max-height: 530px;
  padding: 10%;
}
.container-yellow .container-text-yellow h2 {
  font-size: 43px;
  font-family: "Fraunces", serif;
}
.container-yellow .container-text-yellow p {
  margin-top: 20px;
  color: #a09e9e;
  font-size: 17px;
  font-family: "Barlow", sans-serif;
}
.container-yellow .container-text-yellow button {
  cursor: pointer;
  border: none;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Fraunces", serif;
  background: none;
  border-bottom: 5px solid rgba(255, 255, 0, 0.541);
}
.container-yellow .container-photo-yellow {
  max-height: 530px;
  width: 50%;
}
.container-yellow .container-photo-yellow img {
  width: 100%;
  height: 100%;
}
.container-yellow .transform-mobile {
  display: none;
}

.container-pink {
  display: flex;
  width: 100%;
}
.container-pink .container-photo-pink {
  max-height: 530px;
  width: 50%;
}
.container-pink .container-photo-pink img {
  height: 100%;
  width: 100%;
}
.container-pink .container-text-pink {
  width: 50%;
  max-height: 530px;
  padding: 10%;
}
.container-pink .container-text-pink h2 {
  font-size: 43px;
  font-family: "Fraunces", serif;
}
.container-pink .container-text-pink p {
  margin-top: 20px;
  color: #a09e9e;
  font-size: 17px;
  font-family: "Barlow", sans-serif;
}
.container-pink .container-text-pink button {
  cursor: pointer;
  border: none;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Fraunces", serif;
  background: none;
  border-bottom: 5px solid rgba(255, 53, 120, 0.473);
}

.container-two {
  display: flex;
  width: 100%;
  min-height: 450px;
}
.container-two .container-photo-green {
  display: block;
  width: 50%;
}
.container-two .container-photo-green img {
  width: 100%;
  height: 100%;
}
.container-two .container-photo-green .container-green-text {
  text-align: center;
  width: 50%;
  margin: auto;
}
.container-two .container-photo-green .container-green-text h4 {
  margin-top: -60%;
  font-size: 33px;
  font-family: "Fraunces", serif;
  color: #003000;
}
.container-two .container-photo-green .container-green-text p {
  margin-top: 10px;
  font-size: 15px;
  color: #003000;
  font-family: "Barlow", sans-serif;
}
.container-two .container-photo-blue {
  display: block;
  width: 50%;
}
.container-two .container-photo-blue img {
  width: 100%;
  height: 100%;
}
.container-two .container-photo-blue .container-blue-text {
  text-align: center;
  width: 50%;
  margin: auto;
}
.container-two .container-photo-blue .container-blue-text h4 {
  margin-top: -60%;
  font-size: 33px;
  font-family: "Fraunces", serif;
  color: #003d75;
}
.container-two .container-photo-blue .container-blue-text p {
  margin-top: 10px;
  font-size: 15px;
  color: #003d75;
  font-family: "Barlow", sans-serif;
}

.section-grid {
  padding: 140px 40px;
}
.section-grid .client {
  letter-spacing: 5px;
  font-size: 20px;
  text-align: center;
  color: gray;
  margin-bottom: 60px;
  font-family: "Fraunces", serif;
}
.section-grid .client-message {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.section-grid .client-message-client {
  text-align: center;
}
.section-grid .client-message-client img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-bottom: 60px;
}
.section-grid .client-message-client .p-p {
  max-width: 330px;
  margin: auto;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 60px;
  font-family: "Barlow", sans-serif;
  color: #525252;
}
.section-grid .client-message-client .client-message-text h5 {
  font-size: 21px;
  font-family: "Fraunces", serif;
}
.section-grid .client-message-client .client-message-text .p-client {
  font-size: 17px;
  font-family: "Barlow", sans-serif;
  color: #555555;
}

.photos {
  display: flex;
  max-height: 700px;
  width: 100%;
}
.photos .photos-flex {
  display: flex;
  width: 100%;
}
.photos .photos1, .photos .photos2, .photos .photos3, .photos .photos4 {
  width: 50%;
}
.photos .photos1 img, .photos .photos2 img, .photos .photos3 img, .photos .photos4 img {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #88dabe;
  width: 100%;
  max-height: 300px;
  text-align: center;
}
footer .logo-sunnyside-footer {
  width: 150px;
  height: 30px;
  margin-top: 50px;
  filter: invert(100) opacity(0.3) drop-shadow(0 0 0 #0a3618);
}
footer .footer-services {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 25px;
  font-family: "Barlow", sans-serif;
  color: rgba(9, 80, 50, 0.575);
}
footer .footer-services p {
  margin: 15px;
}
footer .logos {
  display: flex;
  margin-top: 25px;
  justify-content: center;
}
footer .logos img {
  margin: 15px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  header {
    display: block;
  }
  header nav .services h3 {
    margin: 15px;
    margin-top: 24px;
  }
  header .creatives .creatives-text {
    font-size: 45px;
  }
  header .creatives .down-arrow {
    margin-top: 20px;
    width: 30px;
    height: 90px;
  }

  .container-yellow {
    max-height: 430px;
  }
  .container-yellow .container-text-yellow {
    max-height: 430px;
    padding: 10%;
  }
  .container-yellow .container-text-yellow h2 {
    font-size: 32px;
  }
  .container-yellow .container-text-yellow p {
    margin-top: 15px;
    font-size: 15px;
  }
  .container-yellow .container-text-yellow button {
    margin-top: 20px;
    font-size: 15px;
  }
  .container-yellow .container-photo-yellow {
    max-height: 430px;
  }

  .container-pink .container-photo-pink {
    max-height: 430px;
  }
  .container-pink .container-text-pink {
    max-height: 430px;
    padding: 10%;
  }
  .container-pink .container-text-pink h2 {
    font-size: 32px;
  }
  .container-pink .container-text-pink p {
    margin-top: 15px;
    font-size: 15px;
  }
  .container-pink .container-text-pink button {
    margin-top: 20px;
    font-size: 17px;
  }

  .container-two .container-photo-green {
    display: block;
    width: 50%;
  }
  .container-two .container-photo-green img {
    width: 100%;
  }
  .container-two .container-photo-green .container-green-text {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  .container-two .container-photo-green .container-green-text h4 {
    margin-top: -45%;
    font-size: 24px;
    font-family: "Fraunces", serif;
    color: #003000;
  }
  .container-two .container-photo-green .container-green-text p {
    margin-top: 10px;
    font-size: 12px;
    color: #003000;
    font-family: "Barlow", sans-serif;
  }
  .container-two .container-photo-blue {
    display: block;
    width: 50%;
  }
  .container-two .container-photo-blue img {
    width: 100%;
  }
  .container-two .container-photo-blue .container-blue-text {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  .container-two .container-photo-blue .container-blue-text h4 {
    margin-top: -45%;
    font-size: 24px;
    font-family: "Fraunces", serif;
    color: #003d75;
  }
  .container-two .container-photo-blue .container-blue-text p {
    margin-top: 10px;
    font-size: 12px;
    color: #003d75;
    font-family: "Barlow", sans-serif;
  }

  .section-grid .client {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container-principal {
    min-height: 713px;
  }
  .container-principal .home-banner {
    display: none;
  }
  .container-principal .banner-mobile {
    display: block;
    width: 100%;
    max-height: 420px;
    min-height: 713px;
    object-fit: cover;
    object-position: bottom;
  }
  .container-principal .creatives .creatives-text {
    font-size: 38px;
  }
  .container-principal .menu-button-container {
    display: flex;
  }
  .container-principal .menu {
    top: 50%;
    display: block;
    transform: translate(-50%, -50%);
    margin-top: -50px;
    left: 50%;
    width: 50%;
    position: fixed;
    z-index: 2;
  }
  .container-principal #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .container-principal #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    border: none;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .container-principal .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background-color: white;
    color: black;
  }
  .container-principal .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .container-principal .btn-contact {
    background-color: yellow;
    padding: 0px;
  }

  .container-yellow {
    display: flex;
    max-height: 1100px;
    flex-direction: column-reverse;
  }
  .container-yellow .container-text-yellow {
    width: 100%;
    min-height: 450px;
    max-height: 600px;
    padding: 100px 50px;
    text-align: center;
  }
  .container-yellow .container-text-yellow h2 {
    font-size: 33px;
    margin-bottom: 30px;
  }
  .container-yellow .container-text-yellow p {
    font-size: 18px;
    width: 90%;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .container-yellow .container-text-yellow button {
    font-size: 18px;
  }
  .container-yellow .container-photo-yellow {
    width: 100%;
    max-height: 600px;
  }
  .container-yellow .container-photo-yellow .transform-desktop {
    display: block;
  }
  .container-yellow .container-photo-yellow img {
    max-height: 600px;
    height: 100%;
  }

  .container-pink {
    display: flex;
    max-height: 1100px;
    flex-direction: column;
  }
  .container-pink .container-photo-pink {
    width: 100%;
    max-height: 600px;
  }
  .container-pink .container-photo-pink img {
    max-height: 600px;
    height: 100%;
  }
  .container-pink .container-text-pink {
    width: 100%;
    min-height: 450px;
    max-height: 600px;
    padding: 100px 50px;
    text-align: center;
  }
  .container-pink .container-text-pink h2 {
    font-size: 33px;
    margin-bottom: 30px;
  }
  .container-pink .container-text-pink p {
    font-size: 18px;
    width: 90%;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .container-pink .container-text-pink button {
    font-size: 18px;
  }

  .container-two {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container-two .container-photo-green {
    width: 100%;
    min-height: 470px;
    max-height: 740px;
  }
  .container-two .container-photo-green img {
    width: 100%;
    height: 100%;
  }
  .container-two .container-photo-green .container-green-text {
    margin-top: -50px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  .container-two .container-photo-green .container-green-text h4 {
    font-size: 35px;
  }
  .container-two .container-photo-green .container-green-text p {
    margin-top: 10px;
    font-size: 24px;
  }
  .container-two .container-photo-blue {
    width: 100%;
    min-height: 470px;
    max-height: 740px;
  }
  .container-two .container-photo-blue img {
    width: 100%;
    height: 100%;
  }
  .container-two .container-photo-blue .container-blue-text {
    margin-top: -50px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  .container-two .container-photo-blue .container-blue-text h4 {
    font-size: 35px;
  }
  .container-two .container-photo-blue .container-blue-text p {
    margin-top: 10px;
    font-size: 24px;
  }

  .section-grid {
    padding: 85px 25px;
  }
  .section-grid .client {
    letter-spacing: 4px;
    font-size: 16px;
    margin-bottom: 60px;
  }
  .section-grid .client-message {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .section-grid .client-message-client {
    text-align: center;
  }
  .section-grid .client-message-client .p-p {
    max-width: 350px;
    margin: auto;
    font-size: 15px;
    margin-bottom: 30px;
  }

  .photos {
    display: block;
    max-height: 800px;
    width: 100%;
  }
  .photos .photos-flex {
    display: flex;
    width: 100%;
  }
  .photos .photos1, .photos .photos2, .photos .photos3, .photos .photos4 {
    width: 50%;
    max-height: 400px;
  }
  .photos .photos1 img, .photos .photos2 img, .photos .photos3 img, .photos .photos4 img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 375px) {
  .container-principal header nav img {
    width: 110px;
    height: 30px;
    margin-top: 26px;
  }
  .container-principal header nav .menu {
    width: 80%;
  }

  .container-yellow {
    display: flex;
    max-height: 700px;
    flex-direction: column-reverse;
  }
  .container-yellow .container-text-yellow {
    width: 100%;
    min-height: 400px;
    padding: 40px 30px;
    text-align: center;
  }
  .container-yellow .container-text-yellow h2 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .container-yellow .container-text-yellow p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .container-yellow .container-text-yellow button {
    font-size: 13px;
  }
  .container-yellow .container-photo-yellow {
    width: 100%;
    max-height: 400px;
  }
  .container-yellow .container-photo-yellow .transform-desktop {
    display: none;
  }
  .container-yellow .container-photo-yellow .transform-mobile {
    display: flex;
  }
  .container-yellow .container-photo-yellow img {
    height: 100%;
  }

  .container-pink .container-photo-pink {
    width: 100%;
    max-height: 400px;
  }
  .container-pink .container-photo-pink .transform-desktop {
    display: none;
  }
  .container-pink .container-photo-pink .transform-mobile {
    display: flex;
  }
  .container-pink .container-photo-pink img {
    height: 100%;
  }
  .container-pink .container-text-pink {
    width: 100%;
    min-height: 400px;
    padding: 40px 30px;
    text-align: center;
  }
  .container-pink .container-text-pink h2 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .container-pink .container-text-pink p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .container-pink .container-text-pink button {
    font-size: 13px;
  }

  .container-two .container-photo-green {
    width: 100%;
    min-height: 300px;
    max-height: 500px;
  }
  .container-two .container-photo-green .container-green-text {
    margin-top: -60px;
    max-width: 200px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  .container-two .container-photo-green .container-green-text h4 {
    font-size: 25px;
  }
  .container-two .container-photo-green .container-green-text p {
    margin-top: 10px;
    font-size: 14px;
  }
  .container-two .container-photo-blue {
    width: 100%;
    min-height: 300px;
    max-height: 500px;
  }
  .container-two .container-photo-blue .container-blue-text {
    margin-top: -60px;
    max-width: 200px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  .container-two .container-photo-blue .container-blue-text h4 {
    font-size: 25px;
  }
  .container-two .container-photo-blue .container-blue-text p {
    margin-top: 10px;
    font-size: 14px;
  }

  .section-grid {
    padding: 65px 25px;
  }
  .section-grid .client {
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 30px;
  }
  .section-grid .client-message {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .section-grid .client-message-client {
    text-align: center;
  }
  .section-grid .client-message-client .p-p {
    max-width: 350px;
    margin: auto;
    font-size: 15px;
    margin-bottom: 30px;
  }

  footer .logo-sunnyside-footer {
    width: 100px;
    height: 20px;
  }
  footer .footer-services {
    font-size: 13px;
    margin-top: 25px;
  }
  footer .logos {
    display: flex;
    margin-top: 25px;
    justify-content: center;
  }
  footer .logos img {
    margin: 15px;
    margin-bottom: 50px;
    width: 15px;
    height: 15px;
  }
}

/*# sourceMappingURL=App.css.map */
